<script>
    document.addEventListener("scroll", (e: Event) => {
        let i = 0;
        let sectionElements: HTMLCollectionOf<HTMLElement> =
            document.getElementsByTagName("section");

        // Get the section which is currently active on viewpoint
        while (i < sectionElements.length) {
            let section = sectionElements[i];
            if (section.getBoundingClientRect().top >= 0) {
                break;
            }
            i++;
        }

        // Updating hashroute to particular section id
        if (
            sectionElements[i] &&
            window.location.hash != "#" + sectionElements[i].id
        ) {
            history.replaceState(null, "", "#" + sectionElements[i].id);

            // Updating all nav bars to highlight current section
            let navLinks: HTMLCollectionOf<HTMLAnchorElement> =
                document.getElementsByTagName("a");
            for (let i = 0; i < navLinks.length; i++) {
                if (navLinks[i].hash == window.location.hash) {
                    navLinks[i].classList.add("text-rose-900");
                    navLinks[i].classList.add("dark:text-white");

                    let svgIcons = navLinks[i].getElementsByTagName("svg");
                    for (let i = 0; i < svgIcons.length; i++) {
                        svgIcons[i].classList.add("text-rose-900");
                        svgIcons[i].classList.add("dark:text-white");
                    }
                } else {
                    navLinks[i].classList.remove("text-rose-900");
                    navLinks[i].classList.remove("dark:text-white");

                    let svgIcons = navLinks[i].getElementsByTagName("svg");
                    for (let i = 0; i < svgIcons.length; i++) {
                        svgIcons[i].classList.remove("text-rose-900");
                        svgIcons[i].classList.remove("dark:text-white");
                    }
                }
            }
        }
    });
</script>

<aside
    id="splitpane"
    class="fixed top-0 left-0 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-500"
>
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2">
            <li>
                <a
                    href="#intro"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="{1.5}"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            ></path>
                        </svg>
                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Intro
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="#page1"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="{1.5}"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            ></path>
                        </svg>
                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Page 1
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="#page2"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="{1.5}"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            ></path>
                        </svg>
                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Page 2
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="#page3"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="{1.5}"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            ></path>
                        </svg>
                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Page 3
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</aside>
