<script>
    document.addEventListener("scroll", (e: Event) => {
        let i = 0;
        let sectionElements: HTMLCollectionOf<HTMLElement> =
            document.getElementsByTagName("section");

        // Get the section which is currently active on viewpoint
        while (i < sectionElements.length) {
            let section = sectionElements[i];
            if (section.getBoundingClientRect().top >= 0) {
                break;
            }
            i++;
        }

        // Updating hashroute to particular section id
        if (
            sectionElements[i] &&
            window.location.hash != "#" + sectionElements[i].id
        ) {
            history.replaceState(null, "", "#" + sectionElements[i].id);

            // Updating all nav bars to highlight current section
            let navLinks: HTMLCollectionOf<HTMLAnchorElement> =
                document.getElementsByTagName("a");
            for (let i = 0; i < navLinks.length; i++) {
                if (navLinks[i].hash == window.location.hash) {
                    navLinks[i].classList.add("text-rose-900");
                    navLinks[i].classList.add("dark:text-white");

                    let svgIcons = navLinks[i].getElementsByTagName("svg");
                    for (let i = 0; i < svgIcons.length; i++) {
                        svgIcons[i].classList.add("text-rose-900");
                        svgIcons[i].classList.add("dark:text-white");
                    }
                } else {
                    navLinks[i].classList.remove("text-rose-900");
                    navLinks[i].classList.remove("dark:text-white");

                    let svgIcons = navLinks[i].getElementsByTagName("svg");
                    for (let i = 0; i < svgIcons.length; i++) {
                        svgIcons[i].classList.remove("text-rose-900");
                        svgIcons[i].classList.remove("dark:text-white");
                    }
                }
            }
        }
    });
</script>

<aside
    id="splitpane"
    class="fixed top-0 left-0 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-300 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-500"
>
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2">
            <li>
                <a
                    href="#intro"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="{1.5}"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                            ></path>
                        </svg>
                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Intro
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="#about"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                            ></path>
                        </svg>

                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            About
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="#experience"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21"
                            ></path>
                        </svg>

                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Experience
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
            <li>
                <a
                    href="#projects"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
                            ></path>
                        </svg>

                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Projects
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>

            <li>
                <a
                    href="#technologies"
                    class="group py-2 transition-colors duration-200 relative justify-between flex items-center flex-wrap text-gray-500 dark:text-gray-400"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z"
                            ></path>
                        </svg>

                        <span
                            class="ml-4 text-lg group-hover:text-rose-900 dark:group-hover:text-white"
                        >
                            Technical Skills
                        </span>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6 group-hover:text-rose-900 dark:group-hover:text-white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</aside>
