---
export interface Props {
	title: string;
}

const { title = "Raghuram Sadineni" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Raghuram Sadineni's personal portfolio page.">

		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title.length !== 0 ? title : "Raghuram Sadineni"}</title>
		<script is:inline>
			if (
				localStorage.getItem("color-theme") === "dark" ||
				(!("color-theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class="bg-white dark:bg-gray-900">
		<slot />
	</body>
</html>
